<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/./stylesheets/main.css">
  <title>Double-click Reviews</title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/games">View Games</a></li>
      <li><a href="/games/new">Add a game</a></li>
      <li><a href="/games/edit">Update a game</a></li>
    </ul>
  </nav>
</header>
  <section class="main">
    <h1> DCReviews </h1>
  </section>

  <%- body %>
</body>
</html>