<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/./stylesheets/main.css">
  <title>Double-click Reviews</title>
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li id="logo"><img src="/images/logo.jpg"></li>
        <% if (user) { %>
        <li><a href="/logout"><span>Logout</span></a></li<a>
          <% } else { %>
          <li><a href="/signup"><span>Signup</span></a></li>
          <li><a href="/login">Login</a></li>
          <% } %>
          <li><a href="/games">Home</a></li>

          <li><a href="/games/new">Add a game</a></li>
          <li><input type="search" placeholder="Search Games"></li>
        </ul>
      </nav>
    </header>

    <main>
      <%- body %>
    </main>
  </body>
  </html>
