* {
  font-family: 'Helvetica Neue';
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue';
}

h1 {
  padding-bottom: 15px;
  color: #fff;
}

h2 {
  font-weight: 400;
  color: #333;
}

header {
  height: 80px;
  display: block;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid #E2E2E2;
  background: #FFF;

}

header li {
  float: right;
  display: inline;
  margin-right: 10px;
  padding: 0px 5px 0px 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 73px;
  overflow: hidden;
}

#logo {
  padding: 0px;
  float: left;
  margin-left: 45px;
}

#logo img {
  width: 100px;
} 

ul {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #6C6D70;
  font-weight: 300;
}

a:hover {
  color: #36C4F1;
  -webkit-transition: color 0.5s;
}


li input {
  outline: none;
  margin-top: 22px;  
  line-height: 73x;
  padding: 0 7px;
  height: 30px;
  color: #666;
  vertical-align: top;
  border: 1px solid rgba(0,0,0,0.25);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  box-sizing: border-box;
  background: #fff; 
  border-radius: 3px;
}

.section {
  height: 90vh;
  text-align: center;
}

.feature {
  padding-top: 50px;
  height: 70vh;
  background: url(/images/feature-image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.section ul {
  padding: 0px;
  margin: 0px;
}

.content {
  width: 300px;
}

li {
  list-style-type: none; 
}
.content img {
  width: 600px;
}

.content p {
  margin: 0 auto;
  text-align: center;
  width: 600px;
  text-align: justify;
  color: #E2E2E2;
  font-weight: 300;
}

.content button {
  margin-top: 60px;
  background: #333;
  border-radius: 3px;
  border: none;
  color: #36C4F1;
  font-size: 30px;
}

/*LOGIN PAGE*/

h2 {
  text-align: center;
}

form {
  text-align: center;
}


.form-group {
  padding: 10px;
}

.form-container {
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 50px;
  width: 350px;
  padding: 10px 10px 40px 10px;
  background-color: #f2f2f2;
}

.form-container input {
  outline: none;
  margin-top: 10px;
  line-height: 73x;
  padding: 0 7px;
  height: 40px;
  width: 250px;
  font-size: 15px;
  color: #666;
  vertical-align: top;
  border: 1px solid rgba(0,0,0,0.25);
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
}

.form-container label {
  font-weight: 300;
}

.form-container input[type=submit] {
  background: #5BB157;
  color: #FFF;
  width: 80px;
}

.games-index {
  text-align: center;
}


.games-index ul {
  margin: 0px;
  padding: 0px;
}

.col-lg-3 img {
  width: 200px;
  border-radius: 3px;
}

.games-index .row {
  margin: 50px 0px 50px 0px;
}

.content {
  position: relative;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  width: 90%;
  height: 90%;
}

.left {
  float: left;
  width: 40%;
}

.left p {
  width: 400px;
}

.right {
  float: right;
  width: 60%;
}

iframe {
  margin-top: 40px;
}

strong {
  color: #36C4F1;
}
