<div class="section">
  <div class="feature animated slideInDown">
    <div class="content animated fadeIn">
      <div class="left">
        <h1><img class="lolimage fadeIn" src="./images/leaguelogo.png"></h1>
        <p class="feature-info animated slideInLeft">It was one of the first big free-to-play games, and one of the first big multiplayer online battle arenas, or MOBAs. But going on five years later, League of Legends still holds firm as an example of excellence. With its amazing variety of Champions, rewarding progression systems, and fast but intensely strategic team play, it easily hooked me and refused to let go. That addictiveness and competitive spirit, combined with a generous free-to-play approach and frequent updates from developer Riot Games, has created one of the biggest and liveliest gaming communities anywhere.</p>
        <br>
        <p><strong><a href="http://uk.ign.com/articles/2014/02/13/league-of-legends-review-2"></strong>Click here to see the full review</p>
      </div>
      <div class="right">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t2fWYyI1xeE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div> 
</div>

<div class="games-index">

  <h2>Latest Games</h2>
  <a href="/games/new">Add a game</a>

  <div class="row">
    <ul>
      <% for (var i = games.length - 1; i >= 0; i--) { %>
      <li>
        <div class="col-lg-3">
          <ul>
            <li><a href="/games/<%= games[i].id %>"><img src="<%= games[i].image %>"></li></a>
            <li><%= games[i].title %></li>
            <li><%= games[i].platform %></li>
          </ul>
        </div>
      </li>
      <% }; %>
    </ul>
  </div>
</div>
