<div class="section">
  <div class="feature">
    <div class="content">
      <img src="https://upload.wikimedia.org/wikipedia/en/7/77/League_of_Legends_logo.png">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsa reiciendis, velit tempora ex tenetur. Iste fugit tenetur minus laboriosam similique corporis qui delectus, sunt dolore dolorem, quas quisquam architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere dolore aliquid ab quae, ducimus aspernatur ut officiis placeat dolorem. Nemo alias, reiciendis minus provident perspiciatis rerum qui quo eius. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dicta ducimus nesciunt repellat quidem hic, eum odit quis dolorum quod a minus fuga natus deleniti quasi nostrum voluptates adipisci facilis!</p>
      <button>Click here to read full review</button>
      </div>
    </div> 
  </div>

  <h3>Latest Games</h3>
  <a href="/games/new">Add a game</a>
  <ul>
    <% for (var i = games.length - 1; i >= 0; i--) { %>
    <li>
      <ul>
        <li>
          <a href="/games/<%= games[i].id %>">
            <%= games[i].title %>
          </a>
        </li>
        <li>
          <a href="/games/<%= games[i].id %>/edit">
            Edit
          </a>
        </li>
      </ul>
    </li>
    <% }; %>
  </ul>
</div>