<div class="content">
  <div class="feature">
    
  </div>
  
  <h3>Latest Games</h3>
  <a href="/games/new">Add a game</a>
  <ul>
    <% for (var i = games.length - 1; i >= 0; i--) { %>
    <li>
      <ul>
        <li>
          <a href="/games/<%= games[i].id %>">
            <%= games[i].title %>
          </a>
        </li>
        <li>
          <a href="/games/<%= games[i].id %>/edit">
            Edit
          </a>
        </li>
      </ul>
    </li>
    <% }; %>
  </ul>
</div>